<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Oda3Service</servlet-name>
    <servlet-class>fdi.ucm.server.Oda3ServiceImp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Oda3Service</servlet-name>
    <url-pattern>/dov2013/service/oda3</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>dov2013.html</welcome-file>
  </welcome-file-list>
</web-app>